fastapi
uvicorn[standard]
python-multipart

sqlalchemy
pydantic
pydantic-settings

argon2-cffi
PyJWT
cryptography

slowapi

numpy
scipy
librosa
soundfile

torch
torchaudio

transformers
datasets
accelerate
evaluate

audiomentations